@charset "UTF-8";

/* DEVICE BREAK POINTS */
/* In 2024, common device breakpoints for responsive web design are:
Mobile: Up to 576 pixels, for smartphones and small mobile devices 
Tablet: 577–1024 pixels, for tablets like the iPad Mini 
Desktop: 1025–1440 pixels, for smaller laptops or desktops 
Large desktop: 1441 pixels and above, for large desktop monitors and high-resolution screens 
*/




@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #acf2f2, #5e7ebf);
    }
    section#login {
        width: 80vw;
        height: 305px;
    }
    
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}


@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #acf2f2, #5e7ebf);
    }
    section#login {
        width: 950px;
        height: 360px;
    }
    
    section#login > div#imagem {
        float: right; 
        width: 50%; 
        height: 100%;
    }
    
    section#login > div#formulario {
        float: left;
        width: 50%; 
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
    
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    
    }
    
}


