@charset "UTF-8";

/* Paleta de cores 
#554C77
#222A59
#171B26
#5E7EBF
#ACF2F2
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #171B26;
    color: #ACF2F2;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #5e7ebf;
    width: 270px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.450);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
    background: #222a59 url(../imagens/pexels-sean-whang-25006-804269.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    border-radius: 20px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin: 10px 0px;
}

div#formulario > p {
    font-size: 0.8em;

}
form > div.campo {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    display: block;
    margin: 10px 0px;
    background-color: #2e5bb686;
}

div.campo > label {
    font-size: 0.8em;
    
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222a59;
    color: #ACF2F2;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #554C77;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 7px;
    background-color: #4a30a775;
    color: #ACF2F2;
    border: 1px solid #ACF2F2;
    text-decoration: none;
    border-radius: 5px;
}
form > a.botao:hover {
    background-color: #4a30a7;
}
form > a.botao > span {
    font-size: 0.8em;
}

